.slick-dots
  bottom: 20px
.slick-next
  right: 25px
  &::before
    font-size: 30px
.slick-prev
  left: 20px
  z-index: 999
  &::before
    font-size: 30px

.btn-book
  position: fixed
  top: -35px
  left: 1180px
  background-color: $white-color
  color: $blue-color
  padding: 2px 30px
  margin: 40px auto
  border-radius: 3px
  font-size: 30px
  font-family: $Condensed_font
  font-weight: lighter
  text-shadow: 2px 1px 2px #000
  text-align: center
  letter-spacing: 2px
  z-index: 999
  cursor: pointer
// End Book Button

.container
  .info-about-flat
    width: 90%
    margin: 50px auto
    background-color: $gray-color
    color: $blue-color
    display: flex
    flex-wrap: wrap
    position: relative
    overflow: hidden
    border-radius: 5px
    transition: all 0.6s ease-in-out
    > img
      width: 160px
      height: 160px
      border-radius: 15px
      margin: 15px
    .details
      margin: 20px 0
      div
        font-size: 21px
        font-family: $Roboto-font
        margin: 10px 0
        i
          color: $green-color
          font-size: 20px
          margin-right: 8px
          width: 30px
          text-align: center
        span
          .number
            margin-left: 10px
            color: #888
            font-size: 18px
            font-style: italic
            font-weight: 400
    .provider
      width: 44%
      height: 100%
      background-color: $blue-color / 1.1
      float: right
      position: absolute
      top: 0
      right: 0
      padding: 33px 0
      // transition: all 1.2s ease
      // transform: translateX(500px)
      & *
        float: right
      img
        width: 120px
        height: 120px
        border-radius: 50%
        display: inline-block
        margin: 0 15px
        // border-top: 50px solid $green-color
        // border-bottom: 50px solid $green-color
      h3
        display: inline-block
        font-size: 24px
        font-family: $Roboto-font
        font-weight: 400
        text-transform: uppercase
        color: $white-color
        letter-spacing: 1px
        text-shadow: 4px 3px 6px #000
        margin: 30px 0 10px
      div
        color: $white-color
        font-size: 20px
        font-family: $Roboto-font
        i
          margin-left: 8px
          margin-top: 3px
          color: $white-color
          font-size: 18px
          transform: rotateZ(-100deg)
      .phone
        width: 48px
        height: 48px
        border-radius: 50%
        background-color: $green-color
        position: absolute
        bottom: 20px
        left: 20px
        box-shadow: $box-shadow
        i
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          margin: 0
          color: $white-color
          font-size: 20px
  // End info about flat
  .headquake
    width: 90%
    height: 500px
    margin: 0 auto 30px
    // padding-left: 20px
    border-radius: 5px
    overflow: hidden
    position: relative
    text-align: center
    img
      height: 100%
    .text
      position: absolute
      top: 0
      left: 0
      background-color: $green-color / 1.8
      padding: 5px 10px
      display: none
      h1
        font-size: 24px
        color: $white-color
        font-family: $Roboto-font
        font-weight: 400
        margin: 0
        padding: 0
        // border-bottom: 2px solid $white-color
      p
        width: 36%
        display: inline-block
        color: $white-color
        margin: 0
        font-size: 18px
  // End headquake
  .from-gallery
    text-align: center
    color: $blue-color
    font-family: $Roboto-font
    font-weight: bold
    font-size: 28px
    margin-top: 80px
  // Slider Image
  .slider
    width: 92%
    margin: 20px auto
    border-radius: 10px
    overflow: hidden
    .img-slider
      height: 500px
      margin: 10px
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      border-radius: 10px
  // End Slider Image
